::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 10px;
    display: block;
    background-color: transparent;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #ccc;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ccc;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
}

.title {
    font-size: small;
    margin: 5px;
    clear: both;
}

h3.title {
    border: none;
    margin: 0 5px;
}

#content {
    overflow: auto;
}

#issues-kanban {
    white-space: nowrap;
    overflow-x: auto;
    margin: 10px 0;
    height: auto;
    min-height: 640px;
}

.nav {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
}

.nav a, .nav span {
    margin-right: 10px;
}

.issue-status {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: auto;
    min-height: 640px;
    min-width: 320px;
    width: 20%;

    border-right: 1px dashed #ddd;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}
.issue-status.ui-sortable {
    min-height: 640px;
}

.user-issues {
    margin: 10px 0 20px 0;
    border-bottom: 1px dotted #555;
}

.user-issues:hover {
    background: #eee;
}

div.issue {
    -moz-box-shadow: 1px 1px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;

    width: 80px;
    height: 70px;
    padding: 3px;
    margin: 5px;

    cursor: move;

    position: relative;

    display: inline-block;
    vertical-align: top;
}

div.issue p {
    margin: 5px 0;
    height: 45px;
    overflow: hidden;
}

.is_default {
    background: #efe;
}

.is_closed {
    background: #eee;
}

.assigned_to {
    font-size: 9px;
    padding: 1px 3px;
    border-radius: 3px;
}

.issue-id {
    display: block;
    border: 1px inset #ffc;
    background: #ffa;
    padding-left: 5px;
    border-radius: 5px;   
}

.updating {
    background: #eee url(images/ajax-loader.gif) center center no-repeat !important;
}
.updating * {
    opacity: 0.3;
}

.ui-sortable {
    min-height: 50px;
}

.estimate {
    margin-right: 0px;
    background: #57a;
    width: 20px;
    height: 14px;
    line-height: 14px;
    font-size: 9px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    right: -3px;
    top: -3px;
}

div.issue-priority-5 { background: #ffc4c4; }
div.issue-priority-4 { background: #ffd4d4; }
div.issue-priority-3 { background: #fee;    }
div.issue-priority-1 { background: #eaf7ff; }
