#issues-kanban {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: 640px;
}

.issue-status {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 10px 10px 0;
}

.is_default {
    background: #efe;
}

.is_closed {
    background: #eee;
}

.issue .assigned_to {
    font-size: smaller;
    text-align: right;
}
